<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank" rel="noopener">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    <input type="text" ng-model="greeting" aria-label="greeting" />
    <button ng-click="doGreeting(greeting)">ALERT</button>
    </p>
    <p>
    <button ion-button color="secondary" ng-click="takePicture()">Take Picture</button>
    <button ion-button color="secondary" ng-click="testAppPreferences()">Test Cordova App Preferences</button>
    <button ion-button color="primary" ng-click="testFacebookConnect()">Test Facebook Connect</button>
    <button ion-button color="primary" ng-click="testGoogleConnect()">Test Google Connect</button>
    <button ion-button color="primary" ng-click="testAppleConnect()">Test Apple Connect</button>
    <button ion-button color="secondary" ng-click="testInapp()">Test InappBrowser</button>
    <button ion-button color="secondary" ng-click="testHTTP()">Test HTTP</button>
    </p>
  </ion-content>
</ion-view>
